src/flows/INS_ResolveAccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Depending on the way the flow is executed decide upon Source</description>
        <name>Assign_Source</name>
        <label>Assign Source Community</label>
        <locationX>566</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_User_account_to_record_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_account_to_record_id</name>
        <label>Assign_User_account_to_record_id</label>
        <locationX>262</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UserObject.Account_Id_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDO_Lookup_User_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSourcePhone</name>
        <label>AssignSourcePhone</label>
        <locationX>74</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>Source</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDO_Lookup_User_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsRecordIDNull</name>
        <label>IsRecordIDNull</label>
        <locationX>256</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>AssignSourcePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NO_Record_Id</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupAccountForCustomer</targetReference>
            </connector>
            <label>NO Record Id</label>
        </rules>
    </decisions>
    <description>Enables you to retrieve the person account record from either the User ID or the Account ID, enabling the same flow to be able to be launched from the Community or the Customer Account Record.</description>
    <formulas>
        <name>CommunityUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>User</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>INS Resolve Customer ID {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INS Resolve Customer Account ID</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>IDO_Lookup_User_Record</name>
        <label>Lookup_User_Record</label>
        <locationX>73</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>PrimaryContactId</assignToReference>
            <field>FinServ__PrimaryContact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupAccountForCustomer</name>
        <label>LookupAccountForCustomer</label>
        <locationX>567</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Source</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommunityUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Account_Id_Formula__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>IsRecordIDNull</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Source of teh request</description>
        <name>Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
