src/flows/INS_Insurance_Quote_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Insurance_Policy_Assets</name>
        <label>Create Insurance Policy Assets</label>
        <locationX>1306</locationX>
        <locationY>702</locationY>
        <actionName>INS_CreateInsuranceAssetsForPolicy</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Insurance_Policy_Coverages</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>additionalPropertyIds</name>
            <value>
                <elementReference>PropertyIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>policyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>propertyId</name>
            <value>
                <elementReference>customerPropertyId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Populate_Property_Details</name>
        <label>Populate Property Details</label>
        <locationX>436</locationX>
        <locationY>90</locationY>
        <actionName>INS_PopulatePropertyDetails</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Confirm_Property_Details</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>AccountId_t</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>PropertyCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>PropertyCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>PropertyDesc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>imageUrl</name>
            <value>
                <elementReference>PropertyImageUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>make</name>
            <value>
                <elementReference>FullAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <elementReference>CustomerPropertyRecordType.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalCode</name>
            <value>
                <elementReference>PropertyPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>CustomerPropertyRecordType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>PropertyState</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>PropertyStreet</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>customerPropertyId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Car_Property_ID</name>
        <label>Add Car Property ID</label>
        <locationX>614</locationX>
        <locationY>843</locationY>
        <assignmentItems>
            <assignToReference>PropertyIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerProperty.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Comparison</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Map Data from RegistrationCheck to the Customer Property Object</description>
        <name>AssignCustomerProperty</name>
        <label>AssignCustomerProperty</label>
        <locationX>1014</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>CustomerProperty.RegistrationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_registration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerProperty.PrimaryOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerProperty.ModelName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerProperty.Vin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Vehicle_VIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerProperty.MakeYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VehicleYear_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CustomerProperty.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Property_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Stages</name>
        <label>Change Stages</label>
        <locationX>437</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Personal_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Insurance_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lookup_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Property_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Basic_Cover</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Compare_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Registration_Lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HomeStages</name>
        <label>HomeStages</label>
        <locationX>436</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Personal_Information_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_Insurance_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Enter_Property_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Confirm_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cover_Required</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Compare_Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Payment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Completed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Enter_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RemoveAllStages</name>
        <label>RemoveAllStages</label>
        <locationX>300</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Covers_Added_Check</name>
        <label>Additional Covers Added</label>
        <locationX>818</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Product_Comparison</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Covers_added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>coveredItems</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Coverage_Range</targetReference>
            </connector>
            <label>Additional Covers added</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Flow</name>
        <label>Quote Flow</label>
        <locationX>428</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Home_Quotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insuranceProductFamily</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomeStages</targetReference>
            </connector>
            <label>Home Quotation</label>
        </rules>
        <rules>
            <name>Auto_Insurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insuranceProductFamily</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Car Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Stages</targetReference>
            </connector>
            <label>Auto Insurance</label>
        </rules>
    </decisions>
    <formulas>
        <name>AccountFullName</name>
        <dataType>String</dataType>
        <expression>{!Account.FirstName} &amp; &quot; &quot; &amp; {!Account.LastName}</expression>
    </formulas>
    <formulas>
        <name>AccountId</name>
        <dataType>String</dataType>
        <expression>IF ({!$User.AccountID__c} = NULL, &apos;0012v00002QkuQOAAZ&apos;, {!$User.AccountID__c})</expression>
    </formulas>
    <formulas>
        <name>PolicyExpirationDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  AND(
    MONTH( {!$Flow.CurrentDate} ) = 2,
    DAY( {!$Flow.CurrentDate} ) = 29,
    NOT( 
      OR( 
        MOD( YEAR( {!$Flow.CurrentDate} ), 400 ) = 0, 
        AND( 
          MOD( YEAR( {!$Flow.CurrentDate} ), 4 ) = 0,
          MOD( YEAR( {!$Flow.CurrentDate} ), 100 ) != 0
        )
      )
    ) 
  ),
  DATE( YEAR( {!$Flow.CurrentDate} ) + 1, 3, 1),
  DATE( YEAR( {!$Flow.CurrentDate} ) + 1, MONTH( {!$Flow.CurrentDate} ), DAY( {!$Flow.CurrentDate} ) )
)</expression>
    </formulas>
    <formulas>
        <name>PolicyName</name>
        <dataType>String</dataType>
        <expression>IF ({!insuranceProductFamily} == &quot;Home Insurance&quot;, &quot;PN-HOME-&quot;,
IF ({!insuranceProductFamily} == &quot;Car Insurance&quot;, &quot;PN-AUTO-&quot;,
IF ({!insuranceProductFamily} == &quot;Life Insurance&quot;, &quot;PN-LIFE-&quot;, &quot;PN-&quot;))) + LEFT({!$Flow.InterviewGuid}, 6)</expression>
    </formulas>
    <formulas>
        <name>PropertyDesc</name>
        <dataType>String</dataType>
        <expression>{!CustomerPropertyRecordType.Name} &amp; &quot;, &quot; &amp; {!FullAddress}</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Mapping of Year from text to Number Value for the year</description>
        <name>VehicleYear_Number</name>
        <dataType>Number</dataType>
        <expression>Value({!Vehicle_year})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>INS Insurance Quote Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>INS Insurance Quote Flow</label>
    <loops>
        <name>Iterate_Policy_Coverage</name>
        <label>Iterate Policy Coverage</label>
        <locationX>1591</locationX>
        <locationY>694</locationY>
        <assignNextValueToReference>InsuranceCoverageVar</assignNextValueToReference>
        <collectionReference>InsuranceCoverages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Insurance_Policy_Coverage_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Policy_Number</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Insurance_Policy_Coverage_Record</name>
        <label>Create Insurance Policy Coverage Record</label>
        <locationX>1592</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Iterate_Policy_Coverage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Coverage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CategoryGroup</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CategoryGroupType</field>
            <value>
                <stringValue>Comprehensive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CoverageName</field>
            <value>
                <elementReference>InsuranceCoverageVar.Coverage_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>PolicyExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsurancePolicyId</field>
            <value>
                <elementReference>policyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LimitAmount</field>
            <value>
                <elementReference>InsuranceCoverageVar.Limit__c</elementReference>
            </value>
        </inputAssignments>
        <object>InsurancePolicyCoverage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Policy</name>
        <label>Create Policy</label>
        <locationX>1162</locationX>
        <locationY>702</locationY>
        <assignRecordIdToReference>policyId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Insurance_Policy_Assets</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>PolicyExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrossWrittenPremium</field>
            <value>
                <elementReference>Product.Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PolicyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NameInsuredId</field>
            <value>
                <elementReference>AccountId_t</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlanTier</field>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyType</field>
            <value>
                <elementReference>insurancePolicyType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PremiumAmount</field>
            <value>
                <elementReference>Product.Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PremiumFrequency</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaleDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substatus</field>
            <value>
                <stringValue>Final</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Vehicle_Property</name>
        <label>Create Vehicle Property</label>
        <locationX>849</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>Add_Car_Property_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>CustomerProperty</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>49</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Personal_Information</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId_t</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonBirthdate</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_Policy_Coverages</name>
        <label>Get Insurance Policy Coverages</label>
        <locationX>1436</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Policy_Coverage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>IsPolicyCoverage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <object>Product_Insurance_Coverage__c</object>
        <outputReference>InsuranceCoverages</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Coverage__c</queriedFields>
        <queriedFields>Coverage_Name__c</queriedFields>
        <queriedFields>Limit__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Number</name>
        <label>Get Policy Number</label>
        <locationX>1766</locationX>
        <locationY>688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Policy_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>policyId</elementReference>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputReference>Policy</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Residential_Property_Record_Type</name>
        <label>Get Residential Property Record Type</label>
        <locationX>436</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Property_Details</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residential_Property</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>CustomerPropertyRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Product</name>
        <label>Get Selected Product</label>
        <locationX>832</locationX>
        <locationY>702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_and_pay</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>Product</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Premium__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupVehicleRecordType</name>
        <label>LookupVehicleRecordType</label>
        <locationX>768</locationX>
        <locationY>978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCustomerProperty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vehicle</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CustomerProperty</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Capture_Basic_Coverage</name>
        <label>Capture Basic Coverage</label>
        <locationX>606</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Coverages</targetReference>
        </connector>
        <fields>
            <name>ContentsCover</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;What is the total cost to replace the contents at today&apos;s prices?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_4</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Cover Required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Txt_BasicCoverage</name>
            <fieldText>&lt;p&gt;Contents includes furniture and furnishings, internal blinds and curtains, household electrical appliances such as refrigerators, televisions, kitchen and table ware, clothing and personal items, and household tools and garden equipment.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you require cover for items you take outside of your home and/or specific high value possessions, you will have the option to add cover for these items later in the process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>totalCost</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>50000.0</numberValue>
            </defaultValue>
            <fieldText>Total cost</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Insurance_Type</name>
        <label>Choose Insurance Type</label>
        <locationX>176</locationX>
        <locationY>733</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RemoveAllStages</targetReference>
        </connector>
        <fields>
            <name>ProductSelect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;How can we help protect you today?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_1</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Select Insurance Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayhelpText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Salesforce Sans&amp;quot;; color: rgb(50, 50, 50);&quot;&gt;We offer customized coverage, in language you can understand, lets get you protected in minutes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cmp_SelectInsuranceType</name>
            <extensionName>c:INS_SelectInsuranceType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedType</name>
                <value>
                    <elementReference>insuranceProductFamily</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedPolicyType</name>
                <value>
                    <elementReference>insurancePolicyType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insuranceProductFamily</assignToReference>
                <name>selectedType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>insurancePolicyType</assignToReference>
                <name>selectedPolicyType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_Property_Details</name>
        <label>Confirm Property Details</label>
        <locationX>606</locationX>
        <locationY>82</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Basic_Coverage</targetReference>
        </connector>
        <fields>
            <name>Txt_ConfirmAddress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Please confirm your property details.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_3</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Confirm Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cmp_CustomPropertyCard</name>
            <extensionName>c:INS_CustomPropertyCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>customerPropertyId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Enter_Address</name>
        <label>Enter Address</label>
        <locationX>436</locationX>
        <locationY>418</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Residential_Property_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Txt_EnterAddress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What is the address of the property to be insured?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_2</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Enter Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HelpText_address</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(33, 37, 41); font-family: Helvetic-Neue, Helvetica, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿Please enter your full address including the unit number if you have one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cmp_CaptureAddress1</name>
            <extensionName>c:INS_CaptureHomeAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PropertyCity</assignToReference>
                <name>locality</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FullAddress</assignToReference>
                <name>formattedAddress</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyStreet</assignToReference>
                <name>fullStreetAddress</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyPostalCode</assignToReference>
                <name>postal_code</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyState</assignToReference>
                <name>administrative_area_level_1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>propertyPlaceID</assignToReference>
                <name>placeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyImageUrl</assignToReference>
                <name>imageUrl</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1040</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Txt_ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Sorry, we&apos;ve encountered an issue while generating your quote.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please contact your system administrator: {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Personal_Information</name>
        <label>Personal Information</label>
        <locationX>49</locationX>
        <locationY>733</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Choose_Insurance_Type</targetReference>
        </connector>
        <fields>
            <name>Txt_PersonalInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Tell us about yourself&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_0</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Personal Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cmp_PersonalInformation</name>
            <extensionName>c:INS_PersonalInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>birthDate</name>
                <value>
                    <elementReference>Account.PersonBirthdate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>Account.PersonEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Account.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Account.LastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Policy_Created</name>
        <label>Policy Created</label>
        <locationX>1933</locationX>
        <locationY>689</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Txt_Completed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 26px;&quot;&gt;You&apos;re now covered!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Your policy number is &lt;b&gt;{!Policy.Name}&lt;/b&gt;. Click &apos;Finish&apos; to view your policy details.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_8</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Completed!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Img_Success</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>INS_SuccessIcon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>200px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCSS</name>
                <value>
                    <stringValue>padding-top:50px;</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cmp_FlowFooter</name>
            <extensionName>c:INS_FlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>finishActionTarget</name>
                <value>
                    <stringValue>/insure/s/</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>finishActionType</name>
                <value>
                    <stringValue>Navigate to URL</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Comparison</name>
        <label>Product Comparison</label>
        <locationX>611</locationX>
        <locationY>701</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_Product</targetReference>
        </connector>
        <fields>
            <name>Txt_CompareOptions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Compare your {!insuranceProductFamily} options.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_5</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Compare Products</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cmp_ProductComparison</name>
            <extensionName>c:INS_ProductComparisonTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>productFamily</name>
                <value>
                    <elementReference>insuranceProductFamily</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedProduct</name>
                <value>
                    <elementReference>productId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>productId</assignToReference>
                <name>selectedProduct</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Property_Address</name>
        <label>Property Address</label>
        <locationX>1012</locationX>
        <locationY>843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Vehicle_Property</targetReference>
        </connector>
        <fields>
            <name>VehicleAddress</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What is the address where the vehicle will be kept?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StageAddress</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Enter Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AdressInfoHelplText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: Helvetic-Neue, Helvetica, Arial, sans-serif; color: rgb(33, 37, 41);&quot;&gt;﻿Please enter your full address including the unit number if you have one.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CaptureHomeAddress</name>
            <extensionName>c:INS_CaptureHomeAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showAddressFields</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showMap</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTitle</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PropertyStreet</assignToReference>
                <name>route</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyPostalCode</assignToReference>
                <name>postal_code</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyState</assignToReference>
                <name>administrative_area_level_1</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FullAddress</assignToReference>
                <name>formattedAddress</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PropertyCity</assignToReference>
                <name>locality</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>propertyPlaceID</assignToReference>
                <name>placeId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_and_pay</name>
        <label>Quote and pay</label>
        <locationX>993</locationX>
        <locationY>702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Policy</targetReference>
        </connector>
        <fields>
            <name>PayTitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Lets you get you covered right away!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_7</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Payment</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cmp_PaymentInformation</name>
            <extensionName>c:qsyd_PaymentInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>totalAmount</name>
                <value>
                    <elementReference>Product.Premium__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardHolder</name>
                <value>
                    <elementReference>AccountFullName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Registration_Lookup</name>
        <label>Registration Lookup</label>
        <locationX>592</locationX>
        <locationY>978</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LookupVehicleRecordType</targetReference>
        </connector>
        <fields>
            <name>VehicleTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Confirm your vehicle information?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VehicleLookup</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Lookup Vehicle</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InfoDisplayVehicle</name>
            <fieldText>&lt;p&gt;Enter your license plate information so we can retunr your cars information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RegistrationLookup</name>
            <extensionName>c:INS_RegoCheck</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>checkCountry</name>
                <value>
                    <stringValue>CheckAustralia</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>username</name>
                <value>
                    <stringValue>IDOlookup</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Vehicle_bodyType</assignToReference>
                <name>bodyType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_capacityValue</assignToReference>
                <name>capacityValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_capacityUnit</assignToReference>
                <name>capacityUnit</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_model</assignToReference>
                <name>model</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_make</assignToReference>
                <name>make</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_Image</assignToReference>
                <name>imageUrl</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_fuelType</assignToReference>
                <name>fuelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_family</assignToReference>
                <name>family</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_engineDescription</assignToReference>
                <name>engineDescription</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_driveType</assignToReference>
                <name>driveType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_registration</assignToReference>
                <name>regoNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_VIN</assignToReference>
                <name>vehicleIdentificationNumber</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_year</assignToReference>
                <name>year</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_cylinders</assignToReference>
                <name>cylinders</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>bodyDescription</assignToReference>
                <name>description</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Vehicle_transmissionType</assignToReference>
                <name>transmissionType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Coverage_Range</name>
        <label>Select Coverage Range</label>
        <locationX>603</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Product_Comparison</targetReference>
        </connector>
        <fields>
            <name>CoveredItemDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Tell us about these items?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_6_1</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Cover Required</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cmp_AdditionalPremium</name>
            <extensionName>c:INS_AdditionalPremium</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selected</name>
                <value>
                    <elementReference>coveredItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>AccountId_t</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PropertyIds</assignToReference>
                <name>propertyIdList</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Coverages</name>
        <label>Select Coverages</label>
        <locationX>607</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Covers_Added_Check</targetReference>
        </connector>
        <fields>
            <name>Txt_CoveredItems</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;What items would you like named cover for?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Stg_6</name>
            <extensionName>c:FlowStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>Select Items</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cmp_Swipey</name>
            <extensionName>Swipey:SwipeyFlowComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>completedMessage</name>
                <value>
                    <stringValue>We have saved your items you would like to cover.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multipicklistSwipeyResult</name>
                <value>
                    <elementReference>coveredItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageCategory</name>
                <value>
                    <stringValue>Interests</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>likeImageUrl</name>
                <value>
                    <stringValue>https://insmaster19--c.documentforce.com/servlet/servlet.ImageServer?id=0153s000002AcrV&amp;oid=00D6A000003Hkjl&amp;lastMod=1564977588000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dislikeImageUrl</name>
                <value>
                    <stringValue>https://insmaster19--c.documentforce.com/servlet/servlet.ImageServer?id=0153s000002Acra&amp;oid=00D6A000003Hkjl&amp;lastMod=1564977645000</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>coveredItems</assignToReference>
                <name>multipicklistSwipeyResult</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Basic_Cover</name>
        <isActive>true</isActive>
        <label>Basic Cover</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>Compare_Products</name>
        <isActive>true</isActive>
        <label>Compare Products</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>Completed</name>
        <isActive>false</isActive>
        <label>Completed!</label>
        <stageOrder>80</stageOrder>
    </stages>
    <stages>
        <name>Confirm_Address</name>
        <isActive>false</isActive>
        <label>Confirm Address</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>Cover_Required</name>
        <isActive>false</isActive>
        <label>Cover Required</label>
        <stageOrder>44</stageOrder>
    </stages>
    <stages>
        <name>Enter_Property_Address</name>
        <isActive>false</isActive>
        <label>Enter Address</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>Lookup_Vehicle</name>
        <isActive>false</isActive>
        <label>Lookup Vehicle</label>
        <stageOrder>41</stageOrder>
    </stages>
    <stages>
        <name>Payment</name>
        <isActive>true</isActive>
        <label>Payment</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>Personal_Information_Stage</name>
        <isActive>true</isActive>
        <label>Personal Information</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>Select_Insurance_Type</name>
        <isActive>true</isActive>
        <label>Select Insurance Type</label>
        <stageOrder>10</stageOrder>
    </stages>
    <stages>
        <name>Select_Items</name>
        <isActive>false</isActive>
        <label>Select Items</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>Vehicle_Lookup</name>
        <isActive>false</isActive>
        <label>Vehicle Lookup</label>
        <stageOrder>21</stageOrder>
    </stages>
    <startElementReference>Get_Account_Id</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>50</locationX>
        <locationY>251</locationY>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <flowName>INS_ResolveAccount</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AccountId_t</assignToReference>
            <name>recordId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId_t</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bodyDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coveredItems</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerProperty</objectType>
    </variables>
    <variables>
        <name>customerPropertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerPropertyRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>FullAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsuranceCoverages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Insurance_Coverage__c</objectType>
    </variables>
    <variables>
        <name>InsuranceCoverageVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Insurance_Coverage__c</objectType>
    </variables>
    <variables>
        <name>insurancePolicyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insuranceProductFamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Policy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurancePolicy</objectType>
    </variables>
    <variables>
        <name>policyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyImageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyPlaceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PropertyStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResidentialPropertyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_bodyDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_bodyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_capacityUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_capacityValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_cylinders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_driveType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_engineDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_family</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_fuelType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_Image</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_make</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_model</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_registration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_transmissionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_VIN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle_year</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
